<div class="row column voluntary-work-list">
  <section class="section">
    <div class="card card--list">
      <% delegations.each do |delegation| %>
        <div class="card--list__item">
          <div class="card--list__text">
            <div>
              <h5 class="card--list__heading">
              <%= link_to translated_attribute(delegation.consultation.title), decidim_consultations.consultation_path(delegation.consultation) %>
              </h5>
              <span class="text-small">
                <%= t(".vote_delegated", name: "<strong>#{delegation.granter.name}</strong>").html_safe %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
  </section>
</div>
