<% if signed_in? && Decidim::ActionDelegator::Delegation.granted_to?(current_user, question.consultation) %>
  <% if has_any_delegate_vote?(question) %>
    <div class="delegations-notice">
      <%= link_to t("action_delegator.delegations.has_delegations", scope: "decidim"), decidim_consultations.question_path(question) %>
    </div>
  <% else %>
    <div class="delegations-notice">
      <%= link_to t("action_delegator.delegations.link", scope: "decidim"), decidim_consultations.question_path(question) %>
    </div>
  <% end %>
<% end %>
