<div class="row column">
  <%= form.text_field :name, placeholder: t(".name_placeholder") %>
  <p class="help-text"><%== t(".name_help") %></p>
</div>
<div class="row column">
  <%= form.number_field :weight, step: 0.01 %>
  <p class="help-text"><%== t(".weight_help") %></p>
</div>
