<p class="email-greeting"><%= t(".greeting", name: @user.name) %></p>
<p><%= t(".result", rows_count: @import_summary[:imported_rows], total_rows_count: @import_summary[:total_rows]).html_safe %></p>
<% if @import_summary[:skipped_rows].present? %>
  <p><%= t(".skipped_rows", skipped_rows: @import_summary[:skipped_rows].count).html_safe %></p>
<% end %>
<% if @import_summary[:error_rows].present? %>
  <p><%= t(".errors_title", errors_count: @import_summary[:error_rows].size).html_safe %></p>
<% end %>
