<div class="callout alert">
    <p>
        Has repost 
        <span><%= current_question.consultation.questions.published.joins(:votes).count %></span>
         de <span></span> preguntes. 
         <a class="" data-open="exampleModal1">Revisa el resum de la teva votació aqui</a>
    </p>
</div>

<div class="reveal" id="exampleModal1" data-reveal>
  <h1>Awesome. I Have It.</h1>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>