<% total_published_questions = current_question.consultation.questions.published.count %>
<% voted_questions = current_question.consultation.questions.published.joins(:votes).where(votes: { author: current_user }).count %>

<% alert_class = total_published_questions != voted_questions ? "alert" : "success" %>

<div class="callout <%= alert_class %>">
    <p>
        Has repost
        <span><%= voted_questions %></span>
        de <span><%= total_published_questions %></span> preguntes.
        <a class="" data-open="exampleModal1">Revisa el resum de la teva votació aqui</a>
    </p>
</div>

<div class="reveal" id="exampleModal1" data-reveal>
  <h4>Els teus vots a "Panell de votacions"</h4>
  <p class="lead">
    <table class="table-list">
          <thead>
            <tr>
              <th width="200">Pregunta</th>
              <th width="150">Has respost?</th>
            </tr>
          </thead>
          <tbody>
            <% current_question.consultation.questions.each do |question| %>
              <tr>
                <td>Content Goes Here</td>
                <td>Content Goes Here</td>
              </tr>
             <% end %>
          </tbody>
    </table>
  </p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
