<% if Decidim::ActionDelegator::Delegation.granted_to?(current_user, question.consultation) %>
  <% if has_any_delegate_vote?(question) %>
    <div class="delegations-notice flex--cc" style="margin-top:1rem;">
      <%= link_to t("action_delegator.delegations.has_delegations", scope: "decidim"), "#", id: "delegations-button", class: "card__button hollow button expanded" %>
    </div>
  <% else %>
    <div class="delegations-notice flex--cc" style="margin-top:1rem;">
      <%= link_to t("action_delegator.delegations.link", scope: "decidim"), "#", id: "delegations-button", class: "card__button button expanded warning" %>
    </div>
  <% end %>
<% end %>
