<% if Decidim::ActionDelegator::Delegation.granted_to?(current_user, question.consultation) %>
  <% if has_any_delegate_vote?(question) %>
    <div class="delegations-notice flex--cc" style="margin-top:1rem;">
      <button id="delegations-button" class="card__button hollow button small expanded text-white">
        <%= t("action_delegator.delegations.has_delegations", scope: "decidim") %>
      </button>
    </div>
  <% else %>
    <div class="delegations-notice flex--cc" style="margin-top:1rem; width: 100%;">
      <button id="delegations-button" class="card__button button small expanded warning" style="color:white;">
        <%= t("action_delegator.delegations.link", scope: "decidim") %>
      </button>
     </div>
  <% end %>
<% end %>
